{
  "ietf-interfaces:interface": {
    "name": {{ loopback.name | tojson }},
    "description": {{ loopback.description | tojson }},
    "type": "iana-if-type:softwareLoopback",
    "enabled": true,
    "ietf-ip:ipv4": {
      "address": [{"ip": {{ loopback.ipv4 | tojson }}, "netmask": {{ loopback.netmask | tojson }}}]
    }
  }
}
